#Arduino MEGA
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0042", ATTRS{idVendor}=="2341", SYMLINK+="orazio arduino_mega_$attr{serial}", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0242", ATTRS{idVendor}=="2341", SYMLINK+="orazio arduino_mega_$attr{serial}", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0010", ATTRS{idVendor}=="2341", SYMLINK+="orazio arduino_mega_$attr{serial}", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0042", ATTRS{idVendor}=="2a03", SYMLINK+="orazio arduino_mega_$attr{serial}", MODE="0666"


